@import "~codemirror";

.simple-card-inverse {
  background-color: #292b2c;
  color: #ffffff;
}

.chat-users-text {
  font-size: small;
}

.chat-users {
  display: inline;
  font-style: italic;
}

:host ::ng-deep .CodeMirror {
  height: 1000px;
}

.loader {
  height: 500px;
}

.information {
  font-size: large;
  margin: 5px;
}
.game-information {
  font-style: italic;
}

.player-information {
  font-weight: bold;
}

.simple-card-is-playing {
  background-color: #34eb49;
  font-weight: bold;
  color: white
}

.simple-card-is-not-playing {
  background-color: #ff0000;
  font-weight: bold;
  color: white;
}

.simple-card-game-is-over {
  background-color: #f4511e;
  font-weight: bold;
  color: white;
}
