@import "~codemirror";

.mat-raised-button {
  // width:50%;
  background-color: #1e293b;
  color: #ffffff;
}

.simple-card-inverse {
  background-color: #292b2c;
  color: #ffffff;
}

.chat-users-text {
  font-size: small;
}

.chat-users {
  display: inline;
  font-style: italic;
}

:host ::ng-deep .CodeMirror {
  height: calc( 82vh);
}

.loader {
  height: 500px;
}

.information {
  font-size: large;
  margin: 10px;
  padding-bottom: 20px;
}

.player-information {
  font-weight: bold;
}

.simple-card-is-playing {
  background-color: #34eb49;
  font-weight: bold;
  color: white;
}

.simple-card-is-not-playing {
  background-color: #ff0000;
  font-weight: bold;
  color: white;
}

.simple-card-game-is-over {
  background-color: #f4511e;
  font-weight: bold;
  color: white;
}
.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
  }
}
