@import '~codemirror';

.simple-card-inverse {
  background-color: #292b2c;
  color: #ffffff;
}

.chat-users-text {
  font-size: small;
}

.chat-users {
  display:inline;
  font-style: italic;
}

:host ::ng-deep .CodeMirror {
  height: 400px;
}

.information {
  font-size: large;
  margin: 5px;
}
.game-information {
  font-style: italic;
}

.player-information {
  font-weight: bold;
}
