<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">
    <span *ngIf="game && game.exercise">
      {{ "EXERCICE.TITLE" | translate }} : {{ game.exercise.title }}
    </span>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div *ngIf="game" class="height-100">
      <div class="" fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="30">
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="33">
              <div fxLayout="row" class="information">

                <span *ngIf="!this.game.gameOver">
                  {{ usernamePlaying }} {{ "EXERCICE.PLAYING" | translate }}
                </span>

                <span *ngIf="this.game.gameOver && this.winner">
                  {{ winner.user.userName }} {{ "EXERCICE.WON" | translate }}
                </span>

                <span *ngIf="this.game.gameOver && !this.winner">
                  {{ "EXERCICE.GAME_IS_OVER" | translate }}
                </span>

                <mat-icon *ngIf="!this.game.gameOver">sports_esports</mat-icon>
                <mat-icon *ngIf="this.game.gameOver && this.winner">emoji_events</mat-icon>
              </div>
            </div>

            <div fxFlex="33" style="text-align: center">
              <h3>{{ "EXERCICE.DESCRIPTION" | translate }}</h3>
              <hr />
              <p>{{ game.exercise.description }}</p>
            </div>

            <div fxFlex="33">
              <mat-card>
                <mat-card-header>Chat</mat-card-header>
                <hr />
                <mat-card-content
                  [style.overflow]="'auto'"
                  [style.height.px]="'280'"
                >
                  <ul>
                    <div *ngFor="let message of this.chat.messages">
                      <li *ngIf="message.type === 'input'">
                        <span
                          >{{ message.user.userName }} :
                          {{ message.text }}</span
                        >
                      </li>
                      <span
                        *ngIf="message.type === 'notification'"
                        style="color: blue"
                      >
                        <i>{{ message.user.userName }} {{ message.text }}</i>
                      </span>
                      <span
                        *ngIf="message.type === 'result'"
                        style="color: #ff0000"
                      >
                        <i>{{ message.user.userName }} {{ message.text }}</i>
                      </span>
                      <span
                        *ngIf="message.type === 'warning'"
                        style="color: #ff0000"
                      >
                        <i>Warning : {{ message.text }}</i>
                      </span>
                    </div>
                  </ul>
                </mat-card-content>

                <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
                  <div>
                    <mat-form-field class="full-width-input" fxFill>
                      <mat-label>{{
                        "EXERCICE.MESSAGE" | translate
                      }}</mat-label>
                      <textarea
                        matInput
                        #message
                        maxlength="256"
                        formControlName="message"
                        placeholder="Ex. Hello..."
                        required
                      >
                      </textarea>
                      <mat-hint align="start">
                        <strong>{{ "EXERCICE.DISCLOSE" | translate }}</strong>
                      </mat-hint>
                      <mat-hint align="end"
                        >{{ message.value.length }} / 256</mat-hint
                      >
                      <mat-error>
                        {{ "EXERCICE.PROVIDE" | translate }}</mat-error
                      >
                    </mat-form-field>
                  </div>

                  <br />

                  <div fxLayout="row">
                    <div fxFlex="50" fxLayoutAlign="start center">
                      <a mat-raised-button (click)="sendMessage()">{{
                        "EXERCICE.SEND" | translate
                      }}</a>
                    </div>
                    <div fxFlex="50" fxLayoutAlign="end center">
                      <div class="chat-users-text">
                        <i>{{ "EXERCICE.CHAT" | translate }}</i>
                        <div
                          class="chat-users"
                          *ngFor="
                            let userInGame of game.usersInGame;
                            let i = index
                          "
                        >
                          {{ userInGame.user.userName
                          }}<span *ngIf="i != game.usersInGame.length - 1"
                            >,</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-card>
            </div>
          </div>
        </div>

        <div fxFlex="70">
          <div fxLayout="row">
            <div fxFlex="33" fxLayoutAlign="start start">
              <mat-card>
                <mat-icon>timer</mat-icon>
                <span>
                  {{ "EXERCICE.TIMER" | translate }} :
                  {{ timerValue - 1 }}s</span
                >
              </mat-card>
            </div>

            <div fxFlex="33" fxLayoutAlign="center start">
              <mat-card
                *ngIf="isPlaying && !this.game.gameOver"
                class="simple-card-is-playing"
                >{{ "EXERCICE.TURN" | translate }}</mat-card
              >
              <mat-card
                *ngIf="!isPlaying && !this.game.gameOver"
                class="simple-card-is-not-playing"
                >{{ "EXERCICE.NTURN" | translate }}</mat-card
              >
              <mat-card *ngIf="this.game.gameOver" class="simple-card-game-is-over">
                {{ "EXERCICE.GAME_IS_OVER" | translate }}
                <span *ngIf="this.game.gameForfeit">
                  {{ "EXERCICE.FORFEIT" | translate }}
                </span>
              </mat-card>
            </div>

            <div fxFlex="33" fxLayoutAlign="end start">
              <mat-form-field appearance="fill">
                <mat-label>{{ "EXERCICE.THEME" | translate }}</mat-label>
                <mat-select [(ngModel)]="theme" (ngModelChange)="changeTheme()">
                  <mat-option
                    *ngFor="let theme of themes"
                    [value]="theme.value"
                  >
                    {{ theme.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <ngx-codemirror
            [options]="options"
            [ngModel]="content"
            [disabled]="readOnly"
            [autoFocus]="true"
            (ngModelChange)="handleChange($event)"
            *ngIf="!compileLoading"
          >
          </ngx-codemirror>

          <div *ngIf="compileLoading" class="height-100">
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              class="height-100"
            >
              <h1>{{'LOADING' | translate}}...</h1>

              <div class="game-information">
                <mat-spinner color="accent" [diameter]="150" style="margin: 0 auto;"></mat-spinner>
              </div>
            </div>
          </div>

          <br />

          <div fxLayout="row">
            <div fxFlex="33" fxLayoutAlign="start center">
              <button
                mat-raised-button
                color="accent"
                [disabled]="compileDisabled || !isPlaying || this.game.gameOver"
                (click)="compile()"
              >
                {{ "EXERCICE.COMPILE" | translate }}
              </button>
            </div>

            <div fxFlex="33" fxLayoutAlign="center center">
              <p style="font-weight: bold">
                {{ "EXERCICE.SCORE" | translate }} {{ score }}
              </p>
            </div>

            <div fxFlex="33" fxLayoutAlign="end center">
              <div *ngIf="getCompilationsOfUser() === 0">
                <button
                  mat-button
                  [matMenuTriggerFor]="menuCompilations"
                  matBadge="{{ getCompilationsOfUser() }}"
                  matBadgePosition="after"
                  matBadgeColor="accent"
                  [disabled]="true"
                >
                  {{ "EXERCICE.HISTORY" | translate }}
                </button>
              </div>

              <div *ngIf="getCompilationsOfUser() !== 0">
                <button
                  mat-button
                  [matMenuTriggerFor]="menuCompilations"
                  matBadge="{{ getCompilationsOfUser() }}"
                  matBadgePosition="after"
                  matBadgeColor="accent"
                >
                  {{ "EXERCICE.HISTORY" | translate }}
                </button>
              </div>

              <mat-menu #menuCompilations="matMenu">
                <span *ngFor="let compilation of game.compilations">
                  <button
                    mat-menu-item
                    (click)="openCompilationDialog(compilation, null)"
                    *ngIf="compilation.user.id === this.userConnected.id"
                  >
                    [{{ formatDate(compilation.compiledAt) }} -
                    {{ compilation.user.userName }}] --> {{ compilation.score }}
                  </button>
                </span>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>

      <br />
    </div>

    <div *ngIf="!game" class="page__content-data position-absolute">
      <div>
        <h1>{{'LOADING' | translate}}...</h1>
        <mat-spinner color="accent" [diameter]="150" style="margin: 0 auto;"></mat-spinner>
      </div>
    </div>
  </div>
</div>
