<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{ 'ADMIN.TITLE' | translate }}</div>
  <div class="page__content shadow p-3 position-relative">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let user">{{ user.id }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>{{ 'ADMIN.FIRSTN' | translate }}</th>
        <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>{{ 'ADMIN.LASTN' | translate }}</th>
        <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>{{ 'RANK.USERNAME' | translate }}</th>
        <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef>{{ 'ADMIN.BIRTH' | translate }}</th>
        <td mat-cell *matCellDef="let user">{{ user.birthDate }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'EXERCICES.ACTION' | translate }}</th>
        <td mat-cell *matCellDef="let user">
          <button
            *ngIf="currentUser && currentUser.id != user.id"
            mat-mini-fab
            color="warn"
            (click)="deleteUser(user.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>
  </div>
</div>
