<div fxlayout="row" fxFlexFill>
  <div class="container" fxFlex="40">
    <br />
    <ngx-codemirror
      [options]="options"
      [ngModel]="content"
      [disabled]="readOnly"
      [autoFocus]="true"
      (ngModelChange)="handleChange($event)"
    >
    </ngx-codemirror>

    <div class="buttonDiv">
      <button mat-raised-button color="primary" (click)="compile()">
        Compile
      </button>
    </div>
    <mat-card class="simple-card-inverse">
      <span>Compilation :</span>
      <hr />
      <div
        *ngIf="this.loading === true"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <mat-spinner class="m-10"></mat-spinner>
      </div>
      <div *ngIf="this.loading !== true">
        <p>{{ result }}</p>
      </div>
    </mat-card>
  </div>
  <div fxFlex="60">
    <mat-form-field appearance="fill">
      <mat-label>Select a theme</mat-label>
      <mat-select [(ngModel)]="theme" (ngModelChange)="changeTheme()">
        <mat-option *ngFor="let theme of themes" [value]="theme.value">
          {{ theme.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th>{{ user.userName }}</th>
          <td>{{ user.elo }}</td>
          <td>
            <button type="button">Edit</button>
            <button type="button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
