<mat-toolbar>
  <mat-toolbar-row>

    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-spacer"></span>

    <button *ngIf="isConnected" mat-button [matMenuTriggerFor]="menuLanguages" aria-label="Example icon-button with a menu">
      {{ this.currentLang | uppercase}}
    </button>

    <button *ngIf="isConnected" mat-button [matMenuTriggerFor]="menu">
      {{ 'HEADER' | translate }}
      <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>settings</mat-icon>
        <span>{{ 'PROFILE.TITLE' | translate }}</span>
      </button>
      <button *ngIf="isConnected && isAdmin" mat-menu-item routerLink="/admin">
        <mat-icon>lock</mat-icon>
        <span>{{ 'ADMIN.TITLE' | translate }}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        {{ 'LOGOUT' | translate }}
      </button>
    </mat-menu>

    <mat-menu #menuLanguages="matMenu">
      <button mat-menu-item (click)="switchLang('en')" class="flag-menu-button">
        <span class="flag-icon flag-icon-gb"></span>
        <span style="padding: 20px">-</span>
        <span>EN</span>
      </button>
      <button mat-menu-item (click)="switchLang('es')" class="flag-menu-button">
        <span class="flag-icon flag-icon-es"></span>
        <span style="padding: 20px">-</span>
        <span>ES</span>
      </button>
      <button mat-menu-item (click)="switchLang('fr')" class="flag-menu-button">
        <span class="flag-icon flag-icon-fr"></span>
        <span style="padding: 20px">-</span>
        <span>FR</span>
      </button>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>

