@import '/src/variables.scss';

.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: $primary-color;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
  }
}
.mat-raised-button{
  width:50%;
  background-color: $primary-color;
  color: #f1f5f9;
}
