<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">PROFILE</div>
  <div class="page__content shadow p-3 position-relative">
    <div fxLayout="row" class="profile" *ngIf="user">
      <div fxLayout="column"  fxLayoutAlign="start center">
        <div>
          <img
            id="profileImage"
            src="https://pcsquad.ca/images/website.jpg"
            alt="Avatar"
          />
        </div>
        <div>
          <form [formGroup]="formGroup">
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel
                [expanded]="step === 0"
                (opened)="setStep(0)"
                hideToggle
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Personal data </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="titleDescription">
                  To edit a data, just type on it
                </mat-panel-description>

                <mat-form-field appearance="fill">
                  <mat-label>First name</mat-label>
                  <input matInput formControlName="firstName" />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Last name</mat-label>
                  <input matInput formControlName="lastName" />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="userName" />
                </mat-form-field>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label
                    >{{ user.birthDate }}
                    <mat-icon class="dateIcon">date_range</mat-icon>
                  </mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    (focus)="picker.open()"
                    readonly
                  />
                </mat-form-field>
                <mat-datepicker #picker></mat-datepicker>

                <mat-action-row>
                  <button mat-button color="primary" (click)="nextStep()">
                    Next
                  </button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel
                [expanded]="step === 1"
                (opened)="setStep(1)"
                hideToggle
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Security </mat-panel-title>
                  <mat-panel-description>
                    Confirm your password
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input [type]="hide ? 'password' : 'text'" matInput />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
                <br />

                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">
                    Previous
                  </button>
                  <button
                    type="submit"
                    mat-button
                    color="primary"
                    (click)="onSubmit()"
                  >
                    End
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </form>
        </div>
      </div>
      <div fxFlex="80" fxLayoutAlign="center center" class="leftSideProfile">
        <div class="leftsideContainer">
          <div class="tableContainer">
            <table>
              <thead>
                <tr>
                  <th>Elo</th>
                  <th>Rank</th>
                  <th>Games played</th>
                  <th>Games won</th>
                  <th>Correct compilations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ user.elo }}</td>
                  <td>{{ user.elo }}</td>
                  <td>{{ user.gamesPlayed }}</td>
                  <td>{{ user.gamesWon }}</td>
                  <td>{{ user.correctCompilation }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="display: block">
            <canvas
              baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [colors]="pieChartColors"
              [legend]="pieChartLegend"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!user" class="height-100">
      <div fxLayout="column" fxLayoutAlign="center center" class="height-100">
        <h1>Loading...</h1>

        <div class="game-information">
          <mat-spinner color="accent" [diameter]="150"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
