<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Enter a new code</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute">



            <mat-form-field appearance="fill">
              <mat-label>Select a theme</mat-label>
              <mat-select [(ngModel)]="theme" (ngModelChange)="changeTheme()">
                <mat-option *ngFor="let theme of themes" [value]="theme.value">
                  {{ theme.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <ngx-codemirror
              class="editor"
              [options]="options"
              [ngModel]="exercise.code"
              [disabled]="readOnly"
              [autoFocus]="true"
              (ngModelChange)="handleChange($event)"
              placeholder="placeholder"
            >
            </ngx-codemirror>


    </div>

  </div>
</div>
