<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="loginInvalid" class="mb-10">
          <mat-icon>warning</mat-icon> The email and password were not recognized
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="mt-10" fxFill>
          <a mat-stroked-button routerLink="/signup">Sign up</a>
          <span fxFlex></span>
          <button type="submit" mat-raised-button class="login-button">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

