<h2 mat-dialog-title>{{ 'LOBBY.CREATE' | translate }}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="{{ 'LOBBY.KEY_LOBBY' | translate }}" formControlName="lobbyId" required>
    <mat-error>
      {{ 'LOBBY.VALID_KEY' | translate }}
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">{{ 'CLOSE' | translate }}</button>
  <button class="mat-raised-button mat-primary" (click)="join()">{{ 'JOIN' | translate }}</button>
</mat-dialog-actions>
