<p>editor works!</p>

<mat-form-field appearance="fill">
  <mat-label>Select a language</mat-label>
  <mat-select [(ngModel)]="mode" (ngModelChange)="changeMode()">
    <mat-option *ngFor="let language of languages" [value]="language.value">
      {{language.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<br/>

<mat-form-field appearance="fill">
  <mat-label>Select a theme</mat-label>
  <mat-select [(ngModel)]="theme" (ngModelChange)="changeTheme()">
    <mat-option *ngFor="let theme of themes" [value]="theme.value">
      {{theme.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<ngx-codemirror
  [options]="options"
  [ngModel]="defaults[mode]"
  [disabled]="readOnly"
  [autoFocus]="true"
  (ngModelChange)="handleChange($event)">
</ngx-codemirror>

<br/>
<br/>

<p>{{result}}</p>

<br/>
<br/>
<br/>

<label class="btn btn-light" [class.active]="readOnly">
  <mat-checkbox class="example-margin" [(ngModel)]="readOnly">Toggle read-only mode (currently {{ readOnly ? 'on' : 'off' }})</mat-checkbox>
</label>

<br/>

<button mat-raised-button color="warn" (click)="clear()">Clear</button>

<button mat-raised-button color="primary" (click)="compile()">Compile</button>
