<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">{{ 'HOME.WORKS' | translate }}</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute">
        <button mat-raised-button routerLink="/exercises">{{ 'HOME.NEW_GAME' | translate }}</button>
        <button mat-raised-button routerLink="/lobby">{{ 'HOME.LOBBY' | translate }}</button>
        <button mat-raised-button routerLink="/rank">{{ 'HOME.RANK' | translate }}</button>
      </div>
    </div>
  </div>
