<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">
    {{ "EXERCICES.TITLE" | translate }}
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div>
      <div *ngIf="exercises" fxLayout="row">
        <div fxFlex="33" fxLayoutAlign="start center">
          <div>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="search"
                (keyup)="applyFilter($event)"
                placeholder="{{ 'EXERCICES.SEARCH' | translate }}"
              />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="33" fxLayoutAlign="center center">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['/exercise']"
          >
          {{ "EXERCICES.CHALLENGE" | translate }}
          </button>
        </div>
        <div fxFlex="33" fxLayoutAlign="end center">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>{{ "EXERCICES.SELECTLG" | translate }}</mat-label>
              <mat-select [(value)]="selection" placeholder="Language">
                <mat-option
                  *ngFor="let language of languages"
                  [value]="language"
                  (click)="applyFilter(language)"
                >
                  {{ language }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8"
          *ngIf="exercises"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let exercise">{{ exercise.id }}</td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "EXERCICES.TITLE" | translate }}
            </th>
            <td mat-cell *matCellDef="let exercise">{{ exercise.title }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "EXERCICES.DESCRIPTION" | translate }}
            </th>
            <td mat-cell *matCellDef="let exercise">
              {{ exercise.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "EXERCICES.LANGUAGE" | translate }}
            </th>
            <td mat-cell *matCellDef="let exercise">{{ exercise.language }}</td>
          </ng-container>

          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "EXERCICES.CREATE" | translate }}
            </th>
            <td mat-cell *matCellDef="let exercise">
              {{ formatDate(exercise.createdAt) }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              {{ "EXERCICES.ACTION" | translate }}
            </th>
            <td mat-cell *matCellDef="let exercise">
              <button
                mat-raised-button
                color="primary"
                [routerLink]="['/exercise/', exercise.id]"
              >
                <mat-icon class="mr-2">arrow_right_alt</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons [hidden]="!exercises"></mat-paginator>
      </div>
    </div>

    <div *ngIf="!exercises" class="page__content-data position-absolute">
      <div>
        <h1>{{'LOADING' | translate}}...</h1>
        <mat-spinner color="accent" [diameter]="150" style="margin: 0 auto;"></mat-spinner>
      </div>
    </div>
  </div>
</div>
