<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="mat-elevation-z8 p-0" color="primary" fxLayout="row" fxLayoutAlign="start stretch" style="z-index: 2">

    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/home" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="pl-3">
      <span>Projet annuel</span>
    </div>

    <span fxFlex></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/login" routerLinkActive="router-link-active no-border">Login</button>
      <button mat-button routerLink="/signup" routerLinkActive="router-link-active no-border">Sign up</button>
    </div>
  </mat-toolbar>

  <mat-drawer-container fxFlex autosize class="background">
    <mat-drawer #drawer>
      <div fxLayout="column">
        <h3 class="center" style="text-align: center">Menu</h3>
        <hr/>
        <button mat-button routerLink="/home" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">home</mat-icon> Home</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/login" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_1</mat-icon> Login</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/signup" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_2</mat-icon> Sign up</button>
      </div>
    </mat-drawer>

    <!--Components-->
    <div style="display: inline;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
