<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="mat-elevation-z8 p-0" color="primary" fxLayout="row" fxLayoutAlign="start stretch" style="z-index: 2">

    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/home" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="pl-3">
      <span>Code roulette</span>
    </div>

    <span fxFlex></span>

    <div *ngIf="!isConnected" fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/login" routerLinkActive="router-link-active no-border">Login</button>
      <button mat-button routerLink="/signup" routerLinkActive="router-link-active no-border">Sign up</button>
    </div>

    <button *ngIf="isConnected" mat-button [matMenuTriggerFor]="menuLanguages" aria-label="Example icon-button with a menu">
      {{ this.currentLang | uppercase}}
    </button>

    <button *ngIf="isConnected" mat-button [matMenuTriggerFor]="menuNotifications" aria-label="Example icon-button with a menu">
      <mat-icon matBadge="1" matBadgeColor="warn">notifications</mat-icon>
    </button>

    <button *ngIf="isConnected" mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>settings</mat-icon>
        <span>Profile</span>
      </button>
      <button *ngIf="isConnected && isAdmin" mat-menu-item routerLink="/admin">
        <mat-icon>lock</mat-icon>
        <span>Admin</span>
      </button>
      <hr>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Disconnect</span>
      </button>
    </mat-menu>

    <mat-menu #menuLanguages="matMenu">
      <button mat-menu-item (click)="switchLang('en')">
        <span class="flag-icon flag-icon-gb"></span>
        <span class="mat-menu-text">EN</span>
      </button>
      <button mat-menu-item (click)="switchLang('es')">
        <span class="flag-icon flag-icon-es"></span>
        <span class="mat-menu-text">ES</span>
      </button>
      <button mat-menu-item (click)="switchLang('fr')">
        <span class="flag-icon flag-icon-fr"></span>
        <span class="mat-menu-text">FR</span>
      </button>
    </mat-menu>

    <mat-menu #menuNotifications="matMenu">
      <button mat-menu-item>
        <span><mat-icon>videogame_asset</mat-icon> Game created !</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-drawer-container fxFlex autosize class="background">
    <mat-drawer #drawer>
      <div fxLayout="column">
        <h3 class="center" style="text-align: center">Menu</h3>

        <hr/>

        <button mat-button routerLink="/home" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">home</mat-icon> Home</button>

        <button *ngIf="!isConnected" mat-button routerLink="/login" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_1</mat-icon> Login
        </button>

        <button *ngIf="!isConnected" mat-button routerLink="/signup" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter_2</mat-icon> Sign up
        </button>

        <button *ngIf="isConnected" mat-button routerLink="/play" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">play_arrow</mat-icon> Play
        </button>

        <button *ngIf="isConnected" mat-button routerLink="/play/games" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">videogame_asset</mat-icon> Game(s)
        </button>

        <button *ngIf="isConnected && isAdmin" mat-button routerLink="/exercises" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">lock</mat-icon> Exercises
        </button>

        <button *ngIf="isConnected" mat-button routerLink="/lobby" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">group</mat-icon> Lobby
        </button>

<!--        <button *ngIf="isConnected" mat-button routerLink="/editor" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">code</mat-icon> Editor
        </button>-->

        <button *ngIf="isConnected" mat-button routerLink="/rank" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">assessment</mat-icon> Rank
        </button>

      </div>
    </mat-drawer>

    <!--Components-->
    <div style="display: inline;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
