<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{ "CODE.TITLE" | translate }}</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-relative">
      <div fxLayout="row" class="profile">
        <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
          <div fxLayout="column" fxFlex="30" fxLayoutAlign="start center">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ "CODE.CREATE" | translate }}</mat-card-title>
                <mat-card-subtitle>{{ "CODE.READ" | translate }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p style="text-align: justify">
                  {{ "CREATE.EXPLANATION" | translate }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxLayout="row" fxFlex="60" fxLayoutAlign="end center">
            <form class="form" [formGroup]="formGroup">
              <mat-form-field class="full-width" appearance="fill" required>
                <mat-label>{{ "EXERCICES.SELECTLG" | translate }}</mat-label>
                <mat-select
                  [(value)]="selection"
                  placeholder="Language"
                  formControlName="language"
                  required
                >
                  <mat-option
                    *ngFor="let language of languages"
                    [value]="language"
                    (click)="setLanguage(language)"
                  >
                    {{ language }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>{{ "CODE.MATLABEL" | translate }}</mat-label>
                <input
                  matInput
                  formControlName="title"
                  placeholder="Ex. MySuperTitle"
                  required
                  minlength="2"
                  pattern="[a-zA-Z]*"
                />
              </mat-form-field>
              <mat-error
                *ngIf="formGroup.controls['title'].hasError('minlength')"
              >
              {{ "CODE.WARNCHARAC" | translate }}
              </mat-error>
              <mat-error
                *ngIf="formGroup.controls['title'].hasError('pattern')"
              >
              {{ "CODE.WARNTITLR" | translate }}
              </mat-error>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>{{ "CODE.DESCRIBE" | translate }}</mat-label>
                <textarea
                  matInput
                  placeholder="Describing..."
                  formControlName="description"
                  required
                ></textarea>
              </mat-form-field>
            </form>
          </div>
        </div>
        <div fxFlex="80" fxLayoutAlign="center center">
          <mat-card>
            <mat-form-field appearance="fill">
              <mat-label>{{ "CODE.THEME" | translate }}</mat-label>
              <mat-select [(ngModel)]="theme" (ngModelChange)="changeTheme()">
                <mat-option *ngFor="let theme of themes" [value]="theme.value">
                  {{ theme.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="row">
              <h2>{{ "CODE.TYPE" | translate }}</h2>
              <mat-icon
                class="material-icons color_green"
                mat-raised-button
                matTooltip="Name it challenge() and it should return a value in order to test it"
                matTooltipClass="code-tooltip-red"
                aria-label="Button that shows a red tooltip"
                class="codeTooltip"
              >
                info
              </mat-icon>
              <button
                mat-raised-button
                color="primary"
                (click)="showCodeExample()"
              >
              {{ "CODE.EXAMPLE" | translate }}
              </button>
            </div>

            <ngx-codemirror
              class="editor"
              [options]="options"
              [ngModel]=""
              [disabled]="readOnly"
              [autoFocus]="true"
              (ngModelChange)="handleChange($event)"
              placeholder="placeholder"
            >
            </ngx-codemirror>

            <br />
            <div fxLayout="row">
              <h2>{{ "CODE.INSERT" | translate }}</h2>
              <mat-icon
                class="material-icons color_green"
                mat-raised-button
                matTooltip="Implement tests and inject the result in a String named result"
                matTooltipClass="codeTooltipRed"
                aria-label="Button that shows a red tooltip"
                class="codeTooltip"
              >
                info
              </mat-icon>
              <button
                mat-raised-button
                color="primary"
                (click)="showTestExample()"
              >
              {{ "CODE.TEXAMPLE" | translate }}
              </button>
            </div>
            <div class="container">
              <div>
                <form [formGroup]="testForm" (ngSubmit)="submit()" novalidate>
                  <div formArrayName="testsArray">
                    <div
                      class="form-group clearfix"
                      *ngFor="let test of testFormGroup.controls; index as i"
                    >
                      <div class="clearfix" [formGroupName]="i">
                        <h4>Test {{ i + 1 }}</h4>
                        <div>
                          <ngx-codemirror
                            [options]="options"
                            [ngModel]=""
                            [disabled]="readOnly"
                            [autoFocus]="true"
                            formControlName="testArea"
                            (ngModelChange)="handleTestChange($event)"
                          >
                          </ngx-codemirror>
                        </div>
                        <div>
                          <button
                            mat-raised-button
                            color="primary"
                            type="button"
                            [hidden]="i < 1"
                            (click)="removeTest(i)"
                          >
                            Remove test
                          </button>
                        </div>
                      </div>
                      <br />
                    </div>
                  </div>
                  <div>
                    <div>
                      <button
                        mat-raised-button
                        color="primary"
                        type="button"
                        (click)="addTest()"
                        style="margin-bottom: 10px"
                      >
                      {{ "CODE.ADD" | translate }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <mat-card class="simple-card-inverse">
              <span>{{ "CODE.COMPILATION" | translate }}</span>
              <hr />
              <div
                *ngIf="this.loading === true"
                fxLayout="row"
                fxLayoutAlign="center center"
              >
                <mat-spinner class="m-10"></mat-spinner>
              </div>
              <div *ngIf="this.loading !== true" class="compilation-result">
                <p>{{ result }}</p>
              </div>
            </mat-card>
            <br />

            <button
              mat-raised-button
              color="primary"
              [disabled]="checkCompileEnable()"
              (click)="compile()"
            >
            {{ "CODE.COMPILE" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="isSubmitBtnDisabled"
              (click)="submit()"
            >
            {{ "CODE.SUBMITE" | translate }}
            </button>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
