<h1>Exercise</h1>

<div *ngIf="exercise">
  <h2>{{exercise.title | uppercase}}</h2>
  <div>
    <p>id: {{exercise.id}}</p>
    <p>language: {{exercise.language}}</p>
    <p>language CM: {{languageCM}}</p>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Select a theme</mat-label>
    <mat-select [(ngModel)]="theme" (ngModelChange)="changeTheme()">
      <mat-option *ngFor="let theme of themes" [value]="theme.value">
        {{theme.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ngx-codemirror
    [options]="options"
    [ngModel]="content"
    [disabled]="readOnly"
    [autoFocus]="true"
    (ngModelChange)="handleChange($event)">
  </ngx-codemirror>

  <br/>

  <mat-card class="simple-card-inverse">
    <span>Compilation :</span>
    <hr>
    <div *ngIf="this.loading === true" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner class="m-10"></mat-spinner>
    </div>
    <div *ngIf="this.loading !== true">
      <p>{{result}}</p>
    </div>
  </mat-card>

  <br/>

  <label class="btn btn-light" [class.active]="readOnly">
    <mat-checkbox class="example-margin" [(ngModel)]="readOnly">Toggle read-only mode (currently {{ readOnly ? 'on' : 'off' }})</mat-checkbox>
  </label>

  <br/>

  <button mat-raised-button color="warn" (click)="clear()">Clear</button>

  <button mat-raised-button color="primary" (click)="compile()">Compile</button>

</div>

<div *ngIf="!exercise">
  <h2>Exercise not found</h2>
</div>

