<div fxLayout="row">
  <div fxFlex="33" fxLayoutAlign="start center">
    <h2 mat-dialog-title>id : {{ compilation.id }}</h2>
  </div>

  <div fxFlex="33" fxLayoutAlign="center center">
    <h2 mat-dialog-title style="font-weight: bold">
      Score : {{ compilation.score }}
    </h2>
  </div>

  <div fxFlex="33" fxLayoutAlign="end center">
    <h2>
      Compilation status :
      <span [ngClass]="compilation.status === 'SUCCESS' ? 'green' : 'red'">{{
        compilation.status
      }}</span>
    </h2>
  </div>
</div>
<div mat-dialog-content>
  <hr />
  <br />
  <br />
  <mat-card class="simple-card-inverse">
    <span>Result</span>
    <hr />
    <div>
      <p style="white-space: pre-line">{{ compilation.output }}</p>
    </div>
  </mat-card>

  <br />
  <p>Date of compilation : {{ formatDate(compilation.compiledAt) }}</p>
</div>
