<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{ 'PLAY.TITLE' | translate }}</div>
  <div class="page__content shadow p-3 position-relative">

    <div fxLayout="row">
      <div fxFlex="50" fxLayout="" fxLayoutAlign="center center">
        <mat-card class="height-100">

          <mat-card-content>
            <div fxLayout="column">
              <img src="../../../assets/gif/minion_play_with_friends.gif" width="480" height="260" alt="gif_404">

              <hr style="width: 100%" />
              <br />

              <div class="mb-10">
                <h1>{{ 'PLAY.PLAY_FRIENDS' | translate }}</h1>
                <p>{{ 'PLAY.DESCRIBE_P' | translate }}</p>
                <p>{{ 'PLAY.DESCRIBE_FORMAT' | translate }}</p>

                <button mat-raised-button routerLink="/lobby" class="width-100" color="primary">
                  {{ 'LOBBY.NEW_LOBBY' | translate }}
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="50" fxLayoutAlign="center center">
        <mat-card class="height-100">

          <mat-card-content>
            <div fxLayout="column">
              <img src="../../../assets/gif/minion_play_online.gif" width="480" height="260" alt="gif_404">

              <hr style="width: 100%" />
              <br />

              <div class="mb-10">
                <h1>{{ 'PLAY.PLAY_ONLINE' | translate }}</h1>
                <p>{{ 'PLAY.DESCRIBE_O' | translate }}</p>
                <p><i>{{ 'PLAY.FORMAT' | translate }}</i></p>

                <button
                  mat-raised-button
                  class="width-100"
                  color="primary"
                  (click)="changeQueueStatus()">
                  {{ 'PLAY.SEARCH' | translate }}
                </button>
                <p>(Users in queue : {{ usersInQueue }})</p>

                <div fxLayout="row">
                  <div fxFlex="50" fxLayoutAlign="start center">
                    <mat-slide-toggle
                      [(ngModel)]="isLookingForGame"
                      color="warn"
                      (input)="onSlideChange($event)"
                    ></mat-slide-toggle>
                  </div>

                  <div fxFlex="50" fxLayoutAlign="end center">
                    <p *ngIf="isLookingForGame">
                      Looking for a game...
                      <mat-spinner color="warn" diameter="25"></mat-spinner>
                    </p>
                  </div>
                </div>
              </div>


            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
