<div fxLayout="row">

  <div fxFlex="50"> <!--style="background-color: tomato">-->
    <div fxLayout="column">
      <h1>Game</h1>

      <a mat-raised-button routerLink="/play/games">Games</a>

      <br/>
      <p>Search for a new game</p>
      <mat-slide-toggle [(ngModel)]="isLookingForGame" color="warn" (input)="onSlideChange($event)"></mat-slide-toggle>
      <p *ngIf="isLookingForGame">
        Looking for a game... <mat-spinner color="warn" diameter="25"></mat-spinner>
      </p>
    </div>
  </div>

  <div fxFlex="50"> <!--style="background-color: beige">-->
    <div fxLayout="column">
      <h1>Exercises</h1>

      <a mat-raised-button routerLink="/play/exercises">Exercises</a>
    </div>
  </div>

</div>



