<mat-nav-list>
    <div class="logo py-4">
      <h1>CODING ROULETTE</h1>
    </div>
    <mat-divider></mat-divider>
    <a *ngIf="authService.getSessionToken()" mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> {{ 'HOME.WORKS' | translate }}
    </a>
    <a *ngIf="authService.getSessionToken()" mat-list-item routerLinkActive="list-item-active" routerLink="/play">
      <mat-icon>play_arrow</mat-icon> Play
    </a>
    <a *ngIf="authService.getSessionToken()" mat-list-item routerLinkActive="list-item-active" routerLink="/play/games">
      <mat-icon>sports_esports</mat-icon> Game(s)
    </a>
    <a *ngIf="authService.getSessionToken() && isAdmin" mat-list-item routerLinkActive="list-item-active" routerLink="/exercises">
      <mat-icon>lock</mat-icon> Exercices
    </a>
    <a *ngIf="authService.getSessionToken()" mat-list-item routerLinkActive="list-item-active" routerLink="/lobby">
      <mat-icon>groups</mat-icon> Lobby
    </a>
    <a *ngIf="authService.getSessionToken()" mat-list-item routerLinkActive="list-item-active" routerLink="/rank">
      <mat-icon>emoji_events</mat-icon> Rank
    </a>
  </mat-nav-list>

  <mat-nav-list *ngIf="!authService.getSessionToken()">
    <a mat-list-item routerLinkActive="router-link-active" routerLink="/login">
      <mat-icon>vpn_key</mat-icon> Login
    </a>
    <a mat-list-item routerLinkActive="router-link-active" routerLink="/signup">
      <mat-icon>person_add</mat-icon> Sign up
    </a>
  </mat-nav-list>
